In [4]:
import pandas as p

In [11]:
import leapmo

In [2]:
import importlib

In [28]:
importlib.reload(leapmo)

In [29]:
leapmo.by_month()

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Year,,,,,,,,,,,,
1850,-0.744,-0.206,-0.398,-0.654,-0.663,-0.362,-0.203,-0.200,-0.459,-0.631,-0.635,-0.414
1851,-0.212,-0.458,-0.621,-0.649,-0.362,-0.262,-0.230,-0.309,-0.371,-0.127,-0.388,-0.191
1852,-0.283,-0.556,-0.759,-0.568,-0.190,-0.177,-0.108,-0.400,-0.347,-0.189,-0.566,0.031
1853,-0.308,-0.460,-0.524,-0.392,-0.304,-0.215,-0.027,-0.135,-0.456,-0.503,-0.699,-0.382
1854,-0.591,-0.632,-0.305,-0.423,-0.288,-0.490,-0.196,-0.236,-0.285,0.079,-0.281,-0.179
...,...,...,...,...,...,...,...,...,...,...,...,...
2016,1.155,1.234,1.248,1.098,0.962,0.762,0.780,0.954,0.832,0.873,0.887,0.888
2017,0.993,1.063,1.142,0.964,0.923,0.657,0.697,0.791,0.638,0.798,0.744,0.898
2018,0.770,0.813,0.839,0.910,0.761,0.721,0.729,0.747,0.719,0.905,0.733,0.866
2019,0.852,0.876,1.131,1.036,0.847,0.813,0.855,0.888,0.845,1.004,0.907,1.057
2020,1.075,1.116,1.082,1.140,0.967,0.849,0.862,0.860,0.919,0.857,NaN,NaN

In [27]:
leapmo.MONTHS[0]

'nothing'

In [7]:
a = p.read_csv("/mnt/c/Users/nearw/data/best-monthly/Land_and_Ocean_complete.csv")

In [19]:
range(1, 12)

range(1, 12)

In [21]:
for i in range(1, 13):
    print(str(i))

1
2
3
4
5
6
7
8
9
10
11
12